/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fuentes */
@font-face {
  font-family: Bebas Neue;
  src: url(https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap);
}

/* Estilos Generales */
body {
  margin: 0;
  font-family: Arial, sans-serif;
background-size: cover;
background-position: center;
background-image: url(../img/fondo\ pagina\,.png)
}
  


/* Header */
header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}



/* Estilos para el navbar */
nav {
  background-color: #76885B;
  color: #627254;
  padding: 10px;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  font-family: "Bebas Neue", sans-serif;
}


.logo img {
  width: 35px;
  height: auto;
}

.brand {
  font-weight: bold;
  font-size: 1.2em;
  color: #fff;
}

.menu {
  display: flex;
  list-style: none;
}

.menu li {
  margin-left: 20px;
}

.menu a {
  color: #fff;
  text-decoration: none;
  font-size: 1em;
}


/* Main Content */
main {
  padding: 20px;
}


/* Productos */
.productos {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; 
  padding: 1px; 
}

.producto {
  flex-basis: calc(25% - 2px); 
  text-align: center;
  padding: 1px;
  border: 2px solid rgb(46, 46, 46);
  margin-bottom: 1px; 
}

.producto img {
  width: 65%;  /*mi mejor opcion fue en 65 */
  height: auto;
}

nav ul {
  margin-top: 10px;
}

nav ul li {
  margin: 10px 0;
}


/* Estilos para el botón "Comprar" en la sección de productos */
.producto button {
  background-color: #A5DD9B; 
  color: #fff; 
  padding: 15px 25px; 
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s; 
}

/* Estilos para el cambio de color al pasar el mouse . */
.producto button:hover {
  background-color: #03AED2; 
}


/*ubicacion*/

#ubicacion {
  color: white; 
}

#ubicacion h1 {
  color: white; 
}


/* CSS para el formulario de garantía */

#formulario-garantia {
  background-color: #E4E4D0;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  margin-bottom: 20px;
}

#formulario-garantia a.btn,
#formulario-garantia p {
  display: block;
}

#formulario-garantia button[type=submit] {
  background-color: #76885B;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#mas-informacion .btn {
  background-color: #94A684;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

#formulario-garantia form {
  display: flex;
  flex-direction: column;
}

#formulario-garantia button[type=submit] {
  align-self: center;
}

#mas-informacion {
  text-align: center;
}

#mas-informacion {
  text-align: center;
}



/* Seccion servicio tecnico!*/

.service-info {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.service-info p {
  font-size: 18px;
  line-height: 1.6;
  color: #333;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="checkbox"] {
  display: none;
}

label[for="mostrarFormulario"] {
  background-color: #03A9F4;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

label[for="mostrarFormulario"]:hover {
  background-color: #0288D1;
}

#formulario {
  display: none;
  margin-top: 20px;
}

/* Estilos para el formulario de servicio técnico */
.logo img {
  max-width: 100%; 
  height: auto; 
}

@media screen and (min-width: 768px) {
  .logo img {
    max-width: 50px;

  }
}



@media screen and (max-width: 768px)
{
  nav{
    align-items: center;
    flex-direction: column;
  }
}

/* Footer */
footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
}
