$verde-h1: #78a083;
$verde-h2: #76885b;
$gris-header: #333;
$verde-nav-texto: #627254;
$negro-nav-hover: #130e0e;
$blanco: #fff;
$chat-link: #33ff00;
$chat-background: #0056b3;
$grid-button: #007bff;
$mas-info: #94a684;
$negro: #000000;
$bebas-neue: "Bebas Neue", sans-serif;
$verdana: "Verdana", sans-serif;